<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <logging>
        <log type="coverage-clover" target="/tmp/coverage.xml"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
    <listeners>
        <listener class="League\PHPUnitCoverageListener\Listener">
            <arguments>
                <array>
                    <element key="printer">
                      <object class="League\PHPUnitCoverageListener\Printer\StdOut"/>
                    </element>
                    <element key="hook">
                      <object class="League\PHPUnitCoverageListener\Hook\Travis"/>
                    </element>
                    <element key="namespace">
                        <string>League\PHPUnitCoverageListener</string>
                    </element>
                    <element key="repo_token">
                        <string>YUTJhczfFXgn2V6TVTi6jRydcx9eenrza</string>
                    </element>
                    <element key="target_url">
                        <string>https://coveralls.io/api/v1/jobs</string>
                    </element>
                    <element key="coverage_dir">
                        <string>/tmp</string>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
    <testsuites>
        <testsuite name="Drapi Test Suite">
            <directory>tests/Drapi/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Drapi/</directory>
            <exclude>
                <directory suffix=".php">src/Drapi/Handler</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>